<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarOpts" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand col-md-10" routerLink="/"><i class="fa fa-thumb-tack" aria-hidden="true"></i>&nbsp;TASK MANAGER</a>
    <div class="collapse navbar-collapse" id="navbarOpts">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/projects" routerLinkActive="active">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/tasks" routerLinkActive="active">Tasks</a>
            </li>
        </ul>
    </div>
</nav>