<!-- Data grid -->
<div class="row m-0 p-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-2 p-2">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createProjectModal">
                    <i class="fa fa-plus fa-1x" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="col-4 text-center">Project code</th>
                    <th class="col-8 text-center">Project name</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let project of projects">
                    <td class="col-4">
                        {{ project.code }}
                    </td>
                    <td class="col-8 text-justify">
                        {{ project.name }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Create project modal -->
<th2-modal-component [modalId]="'createProjectModal'">
    <div class="th2-modal-header">
        <h5 class="modal-title" id="CreateProjectModalLabel">Create project</h5>
    </div>
    <div class="th2-modal-body">
        <form id="projectForm" [formGroup]="projectForm" (ngSubmit)="createProject(projectForm.value)" novalidate>
            <div class="form-group">
                <label for="code" class="form-control-label">Code:</label>
                <input id="code" formControlName="code" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="name" class="form-control-label">Name:</label>
                <input id="name" formControlName="name" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="description" class="form-control-label">Description:</label>
                <textarea id="description" formControlName="description" class="form-control"></textarea>
            </div>
        </form>
    </div>
    <div class="th2-modal-footer">
        <button type="button" class="btn btn-secondary" (click)="projectForm.reset()" data-dismiss="modal">Close</button>
        <button form="projectForm" [disabled]="!projectForm.valid" class="btn btn-primary">Save</button>
    </div>
</th2-modal-component>