<!-- Filters -->
<div class="row m-0 p-3">
	<div class="container">
		<div id="accordion" role="tablist" aria-multiselectable="true">
			<div class="card">
				<div class="card-header" role="tab" id="filtersHeading">
					<h5 class="mb-0">
						<a data-toggle="collapse" data-parent="#accordion" href="#filters" aria-expanded="true" aria-controls="filters">
							Filters
						</a>
					</h5>
				</div>
				
				<div id="filters" class="collapse show" role="tabpanel" aria-labelledby="filtersHeading">
					<div class="card-block">
						<form [formGroup]="filterForm" (ngSubmit)="filter(filterForm.value)" novalidate>
							<div class="form-group row">
								<label for="taskCode" class="form-control-label col-md-2">Task code:</label>
								<div class="col-md-6">
									<input id="taskCode" formControlName="code" class="form-control"/>
								</div>
							</div>
							<div class="form-group row">
								<label for="projectCd" class="form-control-label col-md-2">Project code:</label>
								<div class="col-md-6">
									<select id="projectCd" formControlName="projectCd" class="form-control">
										<option *ngFor="let project of projects" value="{{ project.code }}">{{ project.description }}</option>
									</select>
								</div>
							</div>
							<!-- TODO: TO BE IMPLEMENTED ON THE FUTURE
							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label for="startDate" class="form-control-label col-md-3">Start date:</label>
										<div class="col-md-4">
											<input type="date" id="startDate" class="form-control"/>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group row">
										<label for="endDate" class="form-control-label col-md-3">End date:</label>
										<div class="col-md-4">
											<input type="date" id="endDate" class="form-control"/>
										</div>
									</div>
								</div>
							</div>
							-->
							<div class="col-md-12 text-right">
								<button type="button" class="btn btn-secondary" (click)="filterForm.reset()"><i class="fa fa-trash fa-1x" aria-hidden="true"></i>&nbsp;Clear</button>
								<button class="btn btn-primary"><i class="fa fa-search fa-1x" aria-hidden="true"></i>&nbsp;Search</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Data grid -->
<div class="row m-0 p-3">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-2 p-2">
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createTaskModal">
					<i class="fa fa-plus fa-1x" aria-hidden="true"></i>
				</button>
			</div>
			<div class="offset-md-6 col-md-4 p-3 text-right">
				<h5>Legend</h5>
				<i class="fa fa-check grid-action-icon" aria-hidden="true"></i>&nbsp;Complete
				<i class="fa fa-clock-o grid-action-icon" aria-hidden="true"></i>&nbsp;Log progress
				<i class="fa fa-link grid-action-icon" aria-hidden="true"></i>&nbsp;Link
				<i class="fa fa-eye grid-action-icon" aria-hidden="true"></i>&nbsp;Detail
			</div>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th class="col-2 text-center">Actions</th>
						<th class="col-3 text-center">Task code</th>
						<th class="col-5 text-center">Task name</th>
						<th class="col-2 text-center">Task status</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let task of tasks">
						<td class="col-2">
							<div class="row m-0 p-0 justify-content-center">
								<div *ngIf="task.open" class="col-md-2 p-0">
									<span class="grid-action">
										<i class="fa fa-check grid-action-icon" aria-hidden="true"
										   (click)="selectTask(task.code)"
										   data-toggle="modal" data-target="#closeTaskModal"></i>
									</span>
								</div>
								<div *ngIf="task.open" class="col-md-2 p-0">
									<span class="grid-action">
										<i class="fa fa-clock-o grid-action-icon" aria-hidden="true"
										   (click)="selectTask(task.code)"
										   data-toggle="modal" data-target="#logWorkModal"></i>
									</span>
								</div>
								<div class="col-md-2 p-0">
									<span class="grid-action">
										<i class="fa fa-link grid-action-icon" aria-hidden="true"
										   (click)="selectTask(task.code)"
										   data-toggle="modal" data-target="#linkTaskModal"></i>
									</span>
								</div>
								<div class="col-md-2 p-0">
									<span class="grid-action">
										<i class="fa fa-eye grid-action-icon" aria-hidden="true"
										   [routerLink]="['/tasks', task.code]"></i>
									</span>
								</div>
							</div>
						</td>
						<td class="col-3">
							{{ task.code }}
						</td>
						<td class="col-5 text-justify">
							{{ task.name }}
						</td>
						<td class="col-2 text-justify">
							<p *ngIf="task.open">Open</p>
							<p *ngIf="!task.open">Closed</p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<!-- Create task modal -->
<th2-modal-component [modalId]="'createTaskModal'">
	<div class="th2-modal-header">
		<h5 class="modal-title" id="CreateTaskModalLabel">Create task</h5>
	</div>
	<div class="th2-modal-body">
		<form id="taskForm" [formGroup]="taskForm" (ngSubmit)="createTask(taskForm.value)" novalidate>
			<div class="form-group">
				<label for="name" class="form-control-label">Name:</label>
				<input id="name" formControlName="name" class="form-control"/>
			</div>
			<div class="form-group">
				<label for="duration" class="form-control-label">Duration:</label>
				<input id="duration" formControlName="duration" class="form-control"/>
			</div>
			<div class="form-group">
				<label for="description" class="form-control-label">Description:</label>
				<textarea id="description" formControlName="description" class="form-control"></textarea>
			</div>
			<div class="form-group">
				<label for="projectCode" class="form-control-label">Project:</label>
				<select id="projectCode" formControlName="projectCode" class="form-control" aria-describedby="projectCodeHelp">
					<option *ngFor="let project of projects" value="{{ project.code }}">{{ project.description }}</option>
				</select>
				<small id="projectCodeHelp" class="text-muted">
					Select the project code this task belongs to.
				</small>
			</div>
		</form>
	</div>
	<div class="th2-modal-footer">
		<button type="button" class="btn btn-secondary" (click)="taskForm.reset()" data-dismiss="modal">Close</button>
		<button form="taskForm" [disabled]="!taskForm.valid" class="btn btn-primary">Save</button>
	</div>
</th2-modal-component>
<!-- Close task modal -->
<th2-modal-component [modalId]="'closeTaskModal'">
	<div class="th2-modal-header">
		<h5 class="modal-title" id="CloseTaskModalLabel">Close task</h5>
	</div>
	<div class="th2-modal-body">
		Are you sure you want to close the task <b>THIN-001</b>?
	</div>
	<div class="th2-modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		<button type="button" class="btn btn-primary" data-dismiss="modal" (click)="closeTask();">Save</button>
	</div>
</th2-modal-component>
<!-- Log work modal -->
<th2-modal-component [modalId]="'logWorkModal'">
	<div class="th2-modal-header">
		<h5 class="modal-title" id="LogWorkModalLabel">Log work</h5>
	</div>
	<div class="th2-modal-body">
		<form id="timeForm" [formGroup]="timeForm" (ngSubmit)="logWork(timeForm.value)" novalidate>
			<div class="form-group">
				<label for="time" class="form-control-label">Time:</label>
				<input id="time" formControlName="time" class="form-control" aria-describedby="timeHelp"/>
				<small id="timeHelp" class="text-muted">
					The amount of time can be input in minutes (m), hours (h) or days (d).<br>
					For example; 8h is the same as 1d and 60m is the same as 1h.
				</small>
			</div>
			<div class="form-group">
				<label for="date" class="form-control-label">Date:</label>
				<input id="date" formControlName="date" class="form-control"/>
			</div>
			<div class="form-group">
				<label for="detail" class="form-control-label">Detail:</label>
				<textarea id="detail" formControlName="detail" class="form-control"></textarea>
			</div>
		</form>
	</div>
	<div class="th2-modal-footer">
		<button type="button" class="btn btn-secondary" (click)="timeForm.reset()" data-dismiss="modal">Close</button>
		<button form="timeForm" [disabled]="!timeForm.valid" class="btn btn-primary">Save</button>
	</div>
</th2-modal-component>
<!-- Link task modal -->
<th2-modal-component [modalId]="'linkTaskModal'">
	<div class="th2-modal-header">
		<h5 class="modal-title" id="LinkTaskModalLabel">Link task</h5>
	</div>
	<div class="th2-modal-body">
		<form id="linkForm" [formGroup]="linkForm" (ngSubmit)="link(linkForm.value)" novalidate>
			<div class="form-group">
				<label for="code" class="form-control-label">Task code:</label>
				<input id="code" formControlName="code" class="form-control" aria-describedby="codeHelp"/>
				<small id="codeHelp" class="text-muted">
					Introduce the task code you'd like to link with this one.
				</small>
			</div>
		</form>
	</div>
	<div class="th2-modal-footer">
		<button type="button" class="btn btn-secondary" (click)="linkForm.reset()" data-dismiss="modal">Close</button>
		<button form="linkForm" [disabled]="!linkForm.valid" class="btn btn-primary">Save</button>
	</div>
</th2-modal-component>