<div class="row m-0 p-0 header">
	<div class="row col-md-6 align-items-center justify-content-center">
		<div class="row col-md-10 p-4 align-items-center justify-content-center title">
			<h4><b>TASK MANAGER</b></h4>
			<p>Easily manage your time and track your productivity by registering your daily tasks.</p>
		</div>
	</div>
</div>
<div class="row m-0 p-5 content">
	<div class="container">
		<div class="row">
			<div class="row col-md-4 mt-4 text-card">
				<div class="col-md-12 d-flex justify-content-center text-card-icon">
					<i class="fa fa-list fa-3x" aria-hidden="true"></i>
				</div>
				<div class="col-md-12 d-flex justify-content-center text-card-title">
					<h4 class="text-center"><b>Manage your tasks</b></h4>
				</div>
				<div class="col-md-12 text-field text-justify text-card-body">
					Easily manage your tasks by adding them to your customized list.<br>
					You'll be able to create categories, labels and attach them to goals.
				</div>
			</div>
			<div class="row col-md-4 mt-4 text-card">
				<div class="col-md-12 d-flex justify-content-center text-card-icon">
					<i class="fa fa-check fa-3x" aria-hidden="true"></i>
				</div>
				<div class="col-md-12 d-flex justify-content-center text-card-title">
					<h4 class="text-center"><b>Track completion</b></h4>
				</div>
				<div class="col-md-12 text-field text-justify text-card-body">
					Track your tasks' status, easily checking whether everything is going 
					according to plan or not and being able to measure what's affecting 
					your progress.
				</div>
			</div>
			<div class="row col-md-4 mt-4 text-card">
				<div class="col-md-12 d-flex justify-content-center text-card-icon">
					<i class="fa fa-flag-checkered fa-3x" aria-hidden="true"></i>
				</div>
				<div class="col-md-12 d-flex justify-content-center text-card-title">
					<h4 class="text-center"><b>Track completion</b></h4>
				</div>
				<div class="col-md-12 text-field text-justify text-card-body">
					Set goals and track their status according to your tasks' progress.<br>
					Goals will grant you a high level overview of your tasks.
				</div>
			</div>
		</div>
	</div>
</div>